html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("background4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-card {
  text-align: center;
  width: 50%;
}

.profile-img {
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
